---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Página não encontrada">
  <h1>404</h1>
  <p>Essa página não existe. Volte para a <a href="/">home</a>.</p>
</BaseLayout>
